<div class="container-flui">

  <div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">

          <h1 class="fs-54">Seja bem vinde!</h1>

          <h6 class="fs-18">Expresse aqui suas opinioes!</h6>

        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">

          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
          <a href="#postagens" class='btn btn-outline-light'>Ver Postagens</a>

        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">

      <img src="https://i.imgur.com/l3fEwNl.png" alt="pessoas papeando" width="500px" height="500px">

    </div>

  </div>
</div>


<div class="container mb-5 mt-5" id='postagens' >

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-link active text-secondery font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

      <a (click)='findByIdUsuario()' class="nav-link text-secondery font-weight-bold" id="#minhasPostagens" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

      <a class="nav-link text-secondery font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>
    </div>
  </nav>

  <div class="tab-content mt-4" id="nav-tabContent">

    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of listaPostagem'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted ">Tema: {{item.tema.publicacao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.data}} 
            </small></p>
            <p class="card-text"><small class="text-muted">By: {{item.usuario.nome}}</small> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade show active" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

      <p>564sad56g156fad15</p>

      <div class="card-columns" *ngFor='let item of user.postagem'>
        <div class="card text-center" >
          <div class="card-body" >
            <h5 class="card-title m-0" >{{item.titulo}}</h5>
            <small class="text-muted ">Tema: {{item.tema.publicacao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.data }}
            </small></p>

            <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
            <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
         
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
      
      <div class="card-columns" *ngFor='let tema of listaTemas'>
        <div class="card text-center" *ngFor='let item of tema.postagem'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.data }}
            </small></p>
            <p class="card-text"><small class="text-muted">By: {{item.usuario.nome}}</small> </p>
          </div>
        </div>
      </div>

    </div>

  </div>  

</div>




<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="Digite o titulo">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a>: </label>
          <select [(ngModel)]="idTema" (change)="findByIdTema()" name="tema" id="tema" class="form-control">
            <option *ngFor="let tema of listaTemas" value="{{tema.id}}">{{tema.publicacao}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button (click)="publicar()" data-dismiss="modal" type="button" class="btn btn-success" >Publicar</button>
      </div>
    </div>
  </div>
</div>
